<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          Searchable Symmertic Encryption
      </a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="overview" style="">
                <h3 class="code">EC 4043</h3>
                <h3 class="course">CRYPTOGRAPHY: THEORY AND PRACTICE</h3>
                <h3 class="project">Searchable Symmetric Encryption</h3>
                <h3 style="font-size:1.5rem">Done By</h3>
                <h3>Abitha Thankaraj</h3>
                <h3>Anas M</h3>
                <h3>Prasanth Thomas Shaji</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div ui-view ></div>
        <div>
    </div>
</div>
