<div class="container-fluid" style="padding-bottom:80px">
    <div class="row">
        <div class="col-md-12">
            <h1>Searchable Symmetric Encryption</h1>

            <h2>Problem Statement</h2>
            <p>To design and implement dynamic symmetric searchable encryption schemes that
                efficiently and privately search server-held encrypted databases of record-keyword pairs.
            </p>

            <h2>Design</h2>

            <h3>Preliminaries</h3>
            <tex>
                <ul style="list-style:none">
                    <li>A database is a list of identifier/keyword-set pairs.</li>
                    <li>\( DB = (id_{i},W_{i})_{i=1}^{d} \) Where \(id_{i} \in  \{ 0, 1 \}^{\lambda} \) and \( W_{i} \subseteq \{ 0, 1 \}^{*} \).</li>
                    <li> Define \( W = \bigcup_{i=1}^{d} W_{i} \)</li>
                    <li> Define \(DB(w) = \{ id_{i} | w \in W_{i} \} \)
                </ul>

            </tex>

            <div class="row">
                <div class="col-md-6">
                    <tex>
                        <p>Setup(DB)</p>
                         <ol>
                             <li> \( K \leftarrow  \{ 0, 1 \}^{\lambda} \)</li>
                             <li> Allocate List \( L \) </li>
                             <li> For each  \( w \in W \) :
                                 <ul style="list-style:none">
                                    <li> \( K1 \leftarrow F(K,1||w) \) </li>
                                    <li> \( K2 \leftarrow F(K,2||w) \) </li>
                                    <li> Initialize counter \(  c \leftarrow 0 \)
                                    <li> For each \( id \space \in DB(w)\)</li>
                                    <ul style="list-style:none">
                        				<li> \( l \leftarrow F(K1,c) \)</li>
                        				<li> \( d \leftarrow Enc(K2,id) \)</li>
                        				<li> \( c++ \)</li>
                        				<li> Add \( (l, d)  \) to the list \( L \)</li>
                                    </ul>
                                  </ul>
                    		    <li> Set \( \gamma \leftarrow Create(L) \)</li>
                    			<li> Output the client key \(K \) and Encrypted DB \( \gamma \)</li>
                        </ol>
                    </tex>
                </div>
                <div class="col-md-6">

                    <tex>
                        <p>Search</p>

                        <p>Client\((K,w)\)</p>
                         <ol>
                             <li> \( K1 \leftarrow F(K,1||w) \) </li>
                             <li> \( K2 \leftarrow F(K,2||w) \) </li>
                             <li> Send \( (K1,K2) \) to Server
                        </ol>
                    </tex>

                    <tex>

                        <p>Server\((K1,K2)\)</p>
                         <ol>
                             <li> For \( c = 0 \) until Get returns empty</li>
                             <ul>
                                 <li> \( d \leftarrow Get(\gamma,F(K1,c)) \) </li>
                                 <li> \( m \leftarrow Dec(K2,d) \)</li>
                             </ul>
                        </ol>
                    </tex>

                </div>
            </div>




            <h2>References</h2>
            <ul>
            	<li>Dynamic Searchable Encryption in Very-Large Databases: Data Structures and Implementation</li>
            </ul>
        </div>
    </div>
</div>
